fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
langchain
langchain-google-vertexai
langgraph
lancedb==0.5.2
pydantic
pandas
numpy
jina
requests
mongomock
polars
datasets
neo4j>=5.14.0
rank-bm25>=0.2.2
